<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
    <section>
        <header>
            <h2><a href="" class="logo">Space Store</a></h2>
            <div class="navigation">
                <a href="/">home</a>
                <a href="/Add">add</a>
                <a href="/View">view</a>
                <a href="/stats">stats</a>
            </div>
        </header>
        <div class="content">
            <div class="info">
                <h2>Space Gadget Shop: <br><span>Welcome!</span></h2>
                <p>Step into a world where imagination meets innovation! At the Superhero Gadget Shop, every gadget holds the promise of adventure. Whether you're a daring superhero or just a dreamer at heart, our collection of extraordinary gadgets will ignite your creativity and inspire your next mission. From invisibility cloaks to jet boots, each item is designed to empower you with the tools you need to conquer any challenge. Join us as we embark on an epic journey filled with cutting-edge technology, thrilling discoveries, and endless possibilities. Are you ready to elevate your superhero game?
                </p>
                <a href="/Add" class="info-btn">Add Gadgets</a>
                <a href="/View" class="info-btn">View Gadgets</a>
                <a href="/stats" class="info-btn">stats</a>
            </div>
        </div>
    </section>

</body>
</html>